main {
    background: url(https://img.freepik.com/free-vector/dreamy-floral-background_53876-92903.jpg?uid=R193153623&ga=GA1.1.1317079280.1748691180&semt=ais_hybrid&w=740) center;
    max-width:849px; height:100vh;
    margin:0 auto;
}
main .bg{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    
}
main .bg input {width:100px;}
main .bg input[name='year']{
    background-color: #fff;
    width:100px;
    
    
}
main .bg input[name='year'] span {}
main .bg input[name='month']{}
main .bg input[name='month'] span {}
main .bg input[name='day']{}
main .bg input[name='day'] span {}
main #result_btn {
    background-color: red;
    border-radius: 20px;
    line-height: 50px;
    color:#fff;
    margin:0 200px;
    
}
main #flower {
    margin:0 200px;
    line-height: 50px;
    background-color: #fff;
}